beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
entrypoints==0.3
flake8==3.7.7
idna==2.8
mccabe==0.6.1
pycodestyle==2.5.0
pydocstyle==4.0.0
pyflakes==2.1.1
Pygments==2.3.1
pygount==1.0.0
pylama==7.7.1
pymediainfo==4.0
requests==2.21.0
snowballstemmer==1.9.0
soupsieve==1.9
urllib3==1.24.1
